In [21]:
import pandas as pd 
import seaborn as sns
naive = pd.read_csv('4way_naive destinations-table.csv')
naive.columns = ['run_number','spawn_prob', 'complete' ]
naive.drop('run_number', axis=1, inplace=True)
naive.head()

ModuleNotFoundError: No module named 'seaborn'

In [20]:
naive_averages = naive.groupby('spawn_prob').agg(['mean','std'])
naive_averages

           complete
               mean        std
spawn_prob
0.01         185.36  12.433923
0.02         349.92  15.677672
0.03         490.66   9.686115
0.04         504.46   1.373362